* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-main: #070707;
  --clr-header: #fff;
  --clr-section-header: #282828;
  --clr-button: #ff0000;
  --clr-button-hover: #ff6363;
  --aside-width: 20%;
}

::selection {
  background-color: gray;
  color: lightgray;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;

  font-family: "Hammersmith One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #e0e0e0;
}

.section {
  height: 100%;
  width: 33.333333%;
  display: flex;
  align-items: center;
}

#logo {
  height: 30px;
  width: 160px;
  margin: 20px;
}

.section ul {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
}

.section ul li {
  list-style: none;
}

.section ul li a {
  text-decoration: none;
  color: var(--clr-section-header);
  font-size: 1.2rem;
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: var(--clr-main);
  transform: scaleX(0);
  transition-duration: 0.3s;
}

.link:hover::after {
  transform: scaleX(1);
}

#butt-sect {
  justify-content: end;
}

#git-button {
  height: 40px;
  width: 100px;
  margin: 20px;
  border: none;
  background-color: var(--clr-button);
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  transition-duration: 0.3s;
}

#git-button:hover {
  background-color: var(--clr-button-hover);
}

#git-button a {
  text-decoration: none;
  color: #fff;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#after-header {
  height: 60px;
  width: 100%;
  background-color: var(--clr-section-header);
}

main {
  height: calc(100vh - 120px);
  width: 100%;
  background-color: var(--clr-main);
  display: flex;
}

#dropdown-container {
  position: relative;
  transition-duration: 0.3s;
}

#dropdown-container:hover #dropdown {
  display: flex;
}

#dropdown {
  display: none;
  flex-direction: column;
  height: 100px;
  width: 140px;
  background-color: var(--clr-main);
  position: absolute;
  bottom: -100px;
  left: 0;
  border-radius: 7px;
  align-items: center;
}

#dropdown::before {
  content: "";
  position: absolute;
  bottom: 22px;
  left: -20px;
  height: 20px;
  width: 20px;
  background-color: var(--clr-section-header);
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  box-shadow: 6px 6px var(--clr-main);
}

#dropdown::after {
  content: "";
  position: absolute;
  bottom: 22px;
  right: -20px;
  height: 20px;
  width: 20px;
  background-color: var(--clr-section-header);
  border-radius: 100% 0% 100% 0% / 0% 0% 100% 100%;
  box-shadow: 6px 6px var(--clr-main);
  transform: rotate(90deg);
}
.dropdown-item {
  font-size: 0.8rem;
  margin: 5px 10px 5px 10px;
  color: #d8d8d8;
}

#container {
  height: 100%;
  width: 50%;

  display: flex;
  align-items: center;
}

#main-title {
  color: #d8d8d8;
  font-size: 7rem;
  margin-left: 40px;
  line-height: 6.7rem;
  letter-spacing: 2px;
  font-weight: 300;
}

#aside {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture {
  height: 100%;
  width: 200%;
}

@media (min-width: 1300px) {
  #main-title {
    font-size: 10rem;
    line-height: 9rem;
  }
}

#main {
  width: 100%;
  height: 200vh;
  position: relative;
  background-color: #242424;
  z-index: -2;
  display: flex;
}

aside {
  height: 100vh;
  width: var(--aside-width);
  background-color: red;
  position: fixed;
  top: 0;
  background-color: #2d4263;
  z-index: -1;
}

aside nav {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside nav ul {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

aside nav ul li {
  list-style: none;
  margin-bottom: 10%;
}

aside nav ul li a {
  color: #d8d8d8;
  text-decoration: none;
  font-size: 1.1rem;
  transition-duration: 0.3s;
  cursor: pointer;
}

#img-sect {
  height: 100%;
  width: calc(100% - var(--aside-width));
  z-index: -3;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.wraper {
  height: 300px;
  width: 400px;

  margin-top: 20px;
  overflow: hidden;
  display: flex;
  padding: 10px;
  background-color: #282828;
  border-radius: 20px;
  margin-bottom: 50px;
}

.img-main {
  margin: 20px;
}
/* DEMO-SPECIFIC STYLES */
.typewriter {
  height: 100%;
  width: 301px;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.typewriter #text {
  color: #fff;
  font-size: 0.7rem;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(30, end), blink-caret 0.8s step-end infinite;
}

.textdiv {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textdiv p {
  color: #e0e0e0;
  text-align: center;
  font-size: 0.8rem;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
